.title {
  position: relative;
  font-weight: bolder;
}

.title:hover {
  transition: ease-out 0.3s;
  transform: scale(1.05);
  cursor: pointer;
}

.icon {
  margin-bottom: 5px;
  margin-right: 4px;
}

.nav-link {
  font-size: 18px;
}

.nav-link:hover {
  transition: ease-out 0.3s;
  transform: scale(1.05);
}

.nav {
  font-family: Rubik;
  max-width: 100%;
}

.nav-bar-group {
  position: relative;
  float: right;
  gap: 10px;
}
