@font-face {
  font-family: 'Rubik';
  src: local('Rubik'), url('./Fonts/Rubik-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Mono';
  src: local('Roboto Mono'), url('./Fonts/RobotoMono-VariableFont_wght.ttf') format('truetype');
}

