.about-card {
  height: 800px;
  width: 1000px;
  margin: auto;
  margin-top: 30px;
  box-shadow: 0px 0px 20px 5px rgba(240, 248, 255, 0.626);
  background-color: aliceblue!important;
  padding: 0px 40px;
}

.about-title {
  padding: 10px;
  font-family: Rubik;
  margin: auto;
  text-decoration: underline;
  color: black

}

.about-paragraph {
  color: black;
  font-family: Rubik;
 }

 .swiper {
  height: 400px;
  width: 800px;
  margin-top: 30px;  
  justify-content: left;
  box-shadow: 0px 0px 20px 5px rgba(240, 248, 255, 0.626);
  border-radius: 10px;
}

.swiper-slide {
  background-color: white;
  border-radius: 10px;
}

.swiper-image {
  height: 400px;
  width: 800px;
  border-radius: 10px;
 }

